ipykernel
sphinx==7.1.2
sphinx-rtd-theme
sphinxcontrib-napoleon
jupyter-sphinx==0.4.0
pythreejs==2.4.2
mock
microgen @ git+https://github.com/3MAH/microgen@new_tpms
numpy
pyvista
gmsh
meshio==5.3.4
cadquery