name: Build and Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "*"

  schedule:
    - cron: "0 0 * * *"

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.8", "3.11"]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - if: runner.os == 'Linux'
        run: sudo apt-get install libglu1-mesa

      - name: Install
        run: |
          pip install --upgrade pip
          # pip install uv
          # uv pip install --system microgen@. pytest pytest-xdist
          pip install . pytest pytest-xdist cadquery-ocp

      - name: Test
        run: pytest tests --numprocesses=auto
